body{
    background-color: rgb(106, 108, 109);
}

.heading{
    text-align: center;
    font-size: 100px;
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: italic;
}

.heading_text{
    text-align: center;
    font-size: 25px;
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: italic;
}

.blog_flame{
    width: 370px;
    height: 650px;
    border: 16px outset orange;
    border-radius: 12px;
    margin: auto;
    background-color: rgb(255, 255, 240);
}

.blog_frost{
    width: 370px;
    height: 650px;
    border: 16px outset rgb(135, 216, 253);
    border-radius: 12px;
    margin: auto;
    background-color: rgb(255, 255, 240);
}

.blog_gale{
    width: 370px;
    height: 650px;
    border: 16px outset rgb(138, 182, 146);
    border-radius: 12px;
    margin: auto;
    background-color: rgb(255, 255, 240);
}

.blog_img{
    width: 370px;
}

.blog_text{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: italic;
}

