body{
    background-image: url(https://mediaproxy.tvtropes.org/width/1200/https://static.tvtropes.org/pmwiki/pub/images/deepwoken2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.heading{
    text-align: center;
    font-size: 50px;
}

.flame{
    width: 370px;
    height: 700px;
    border: 16px outset orange;
    border-radius: 12px;
    margin: auto;
}

.frost{
    width: 370px;
    height: 700px;
    border: 16px outset rgb(135, 216, 253);
    border-radius: 12px;
    margin: auto;
}

.thunder{
    width: 370px;
    height: 700px;
    border: 16px outset orange;
    border-radius: 12px;
    margin: auto;
}

.gale{
    width: 370px;
    height: 700px;
    border: 16px outset orange;
    border-radius: 12px;
    margin: auto;
}

.shadow{
    width: 370px;
    height: 700px;
    border: 16px outset orange;
    border-radius: 12px;
    margin: auto;
}

.iron{
    width: 370px;
    height: 700px;
    border: 16px outset orange;
    border-radius: 12px;
    margin: auto;
}

.attunment_image{
    width: 370px;
}

