body{
    background-image: url(https://mediaproxy.tvtropes.org/width/1200/https://static.tvtropes.org/pmwiki/pub/images/deepwoken2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

#heading{
    text-align: center;
    font-size: 100px;
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: italic;
    color: white;
}

.heading_text{
    text-align: center;
    font-size: 25px;
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: italic;
    color: white;
}

.blog_flame{
    width: 370px;
    height: 650px;
    border: 16px outset orange;
    border-radius: 12px;
    margin: auto;
    background-color: rgb(255, 255, 240);
}

.blog_frost{
    width: 370px;
    height: 650px;
    border: 16px outset rgb(135, 216, 253);
    border-radius: 12px;
    margin: auto;
    background-color: rgb(255, 255, 240);
}

.blog_gale{
    width: 370px;
    height: 650px;
    border: 16px outset rgb(138, 182, 146);
    border-radius: 12px;
    margin: auto;
    background-color: rgb(255, 255, 240);
}

.blog_img{
    width: 370px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog_text{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: italic;
}

